<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <div class="name">
        {{name}}
    </div>
    <div class="location">
        I live in {{geolocation}}
    </div>
    <div class="skils">
        My skils: <br> {{skils}}
    </div>
    <div class="swaz">
        Me phone number: {{phone}} <br>
        Telegram: {{telegram}} <br>
        Viber: {{viber}}
    </div>
</body>
</html>